.search-form {
  flex-wrap: wrap;
  justify-content: center;
}

.search-form__label {
  font-size: 5vw;
  text-align: center;
}

.search-form__input {
  margin: 12px 0 12px 0
}

button {
  margin: auto;
}

.search-form, .search-form__label {
  align-items: center;
  display: flex;
  flex-direction: column;
}
