.search-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.search-form__label {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}

.search-form__input {
    margin: 12px 0 12px 0
}
